{% extends "base.html" %}
{% block title %}Ingresar{% endblock %}
{% block content %}
<h1>Log-in</h1>
<div class="module">
    {% if form.errors %}
    <p>Nombre de usuario incorrecto.</p>
    {% else %}
    <p>Ingresa con tu nombre de usuario y contraseña:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Log-in"></p>
        </form>
    </div>
</div>
{% endblock %}